<!-- mobile -->
<div class="mobile-header">
    <nav id="myNav" class="overlay">
        <div class="overlay-content">
          <div class="nMCC">
              <a href="" class="mStH">Unlesh</a>
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          </div>
          <div class="nMSC">
              <input type="text" class="mSIb" placeholder="Search">
          </div>
          <div class="nMSC">
              <ul class="nMSCUl">
                <li class="nMSCLi nMSCLiActive"><a href="">Home</a></li>
                <li class="nMSCLi"><a href="">Contact</a></li>
                <li class="nMSCLi"><a href="">Donate</a></li>
                <li class="nMSCLi"><a href="">Sign In</a></li>
                <li class="nMSCLi"><a href="">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>

<!-- mobile ends -->

<!-- web header -->
<div class="navCont">
    <nav class="topnav" id="myTopnav">
      <a href="home" class="active fMI">
        <!-- bring your logo here, only logo, not text -->
        <fa name="home" class="hIcon"></fa> <span class="hIcon">Unlesh</span></a>
        <input type="search" class="hI dDN" placeholder="Search">
        <a href="news" class="nAU">About Us</a>
        <a href="contact">Contact</a>
        <a href="about" class="nb">Donate</a>
        <a class="nb cH"><input type="search" class="hI" placeholder="Search"></a>
        <a href="akash" class="fR nb">Sign Up</a>
        <a href="akash" class="fR">Sign In</a>
        <a href="javascript:void(0);" class="icon TLMNO" (click)="openNav()">&#9776;</a>
    </nav>
</div>


<!-- Web header ends -->
