<footer class="mF">
	<div class="iC">
		<h2 class="fUh">Unlesh</h2>
	</div>
	<hr class="fhr">
	<div class="iC">
		<div class="mCC">
			<div class="f3">
				<ul class="fUl">
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
				</ul>
			</div>
			<div class="f3 dnm">
				<ul class="fUl">
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
					<li class="fLi"><a href="" class="fLiA">Some Content</a></li>
				</ul>
			</div>
			<div class="f4">
				<p class="sI">Stay informed and subscribe to our free daily newsletter and get the latest analysis and commentary directly in your inbox</p>
				<div class="sIBC">
					<input type="text" class="fIS" placeholder="Your email address">
					<button class="fbS">Subscribe</button>
				</div>

			</div>
		</div>
	</div>
	<hr class="fhr2">
	<div class="bF">
		<div class="iC">
			<div class="bmfS">
				<div class="bmfSL">
					<ul class="bmfUl">
						<li class="bmfLi"><a href="" class="bma">Privacy policy</a></li>
						<li class="bmfLi"><a href="" class="bma">Terms and conditions</a></li>
						<li class="bmfLi"><a href="" class="bma">Corrections</a></li>
					</ul>
				</div>
				<div class="bmfSR">
					<p class="lT">Copyright © 2018</p>
				</div>
			</div>
		</div>
	</div>
</footer>