<div class="nav">
	<ul class="nav-ul">
		<li class="nav-li active-li">
			<a href="" class="nav-anc">
				<!-- <fa name="tasks" size="3x"></fa> -->
				<img src="../../assets/img/weightlifting_white_64.png" alt="" class="nav-i nav-h-l">
				<p class="nav-para">Home</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<!-- <fa name="tasks" size="3x"></fa> -->
				<img src="../../assets/img/treadmill_white_64.png" alt="" class="nav-i">
				<p class="nav-para">training program</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/fruit_white_64.png" alt="" class="nav-i">
				<p class="nav-para">diet plan</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/proteins_white_64.png" alt="" class="nav-i">
				<p class="nav-para">suppliment details</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/muscle_white_64.png" alt="" class="nav-i">
				<p class="nav-para">tips and faq</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/muscle_white_64_b.png" alt="" class="nav-i">
				<p class="nav-para">general mistakes</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/03.jpg" alt="" class="nav-i">
				<p class="nav-para">indian bodybuilders</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/ifbb.png" alt="" class="nav-i">
				<p class="nav-para">IFBB</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/stretching-exercises_white_64.png" alt="" class="nav-i">
				<p class="nav-para">bodypart exercise</p>
			</a>
		</li>
		<li class="nav-li">
			<a href="" class="nav-anc">
				<img src="../../assets/img/blog_white_64.png" alt="" class="nav-i">
				<p class="nav-para">Become an author</p>
			</a>
		</li>
	</ul>
</div>

