.homd {
  margin:21px 0;
  display:flex;
  flex-direction:row;
  width:100%;
  /*border:1px red solid;*/
  padding:9px 0;
}

.hid {
  flex:1;
  /*border:1px red solid;*/
  text-align:center;
  margin:9px;
  margin-left: 0;
}

.hid2 {
  flex:1;
  /*border:1px red solid;*/
  text-align:center;
  margin:9px;
  display: flex;
  flex-direction:column;
  margin-right: 0;
}

.hfsi {
  /*border:1px red solid;*/
  margin:9px 0;
}

.hfsi:first-of-type {
  margin-top: 0;
}

.hfsi:last-of-type {
  margin-bottom: 0;
}

.maxWidth {
  width: 80%;
  margin: 0 auto;
}

.inherit {
  color: inherit;
  text-decoration: none;
}

.hfsiiI {
  width: 50%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
}

.hfsiiT {
  width: 50%;
  float: left;
  overflow: hidden;
  text-align: left;
  padding-left: 21px;
  box-sizing: border-box;
}

.hfsiiAI {
  width: 100%;
}

.hfi {
  width: 100%;
}

.hfit {
  color: #000;
  font-size: 27px;
  text-align: left;
}

.hfit:hover {
  color: #ff6318;
}

.hfsiTh {
  margin-top: 0;
  font-size: 21px;
  color: #000;
  margin-bottom: 9px;
}

.hfsiTp {
  font-size: 15px;
  color: #000;
}

.hfsiTh:hover {
  color: #ff6318;
}

.flsc {
  overflow: hidden;
  margin-bottom: 60px;
}

.flscic, .tagdc, .flscich, .flscicp, .flscica {
  width: 70%;
  overflow: hidden;
}

.flscicI {
  width: 100%;
}

.tagdc {
  padding: 9px 0;
}

.tag, .tagtext {
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  background-color: #ff6318;
  color: #fff;
  padding: 6px;
}

.tagtext {
  margin: 0;
}

.tjl, .tagline {
  display: inline-block;
  border-bottom: 2px solid #ff6318;
  width: 87%;
  float: right;
  margin-top: 13px;
}

.tagline {
  width: 82%;
}

.hfit, .hfsiTh, .flscich, .s3bh {
  color: #565a5c;
}

.flscich, .s3bh {
  margin: 4px 0px;
  font-size: 30px;
  cursor: pointer;
}

.flscich:hover, .s3bh:hover {
  color: #ff6318;
}

.s3bh {
  margin: 15px 0 9px;
}

.flscicp, .s3np {
  margin: 7px 0;
  font-size: 21px;
}

.flscica, .s3a, .hfiad {
  color: #565a5c;
}

.flscicasp:hover, .s3as:hover, .hfiad:hover {
  color: #ff6318;
  cursor: pointer;
}

.hfiad {
  display: none;
  margin-top: 9px;
}

.s3omc {
  overflow: hidden;
  margin: 15px 0;
}

.s3lc {
  width: 50%;
  float: left;
  padding-right: 2%;
  box-sizing: border-box;
}

.s32c {
  width: 50%;
  float: left;
}

.s3ri {
  width: 100%;
}



@media (max-width: 1240px) {
  .maxWidth {
    width: 94%;
  }
}

@media (max-width: 1110px) {
  .hfsiTh {
    font-size: 19px;
  }
  .hfsiTp {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 6px;
  }
  .hfit {
    font-size: 24px;
  }
  .flscich, .s3bh {
    font-size: 27px;
  }

  .flscicp, .s3np {
    font-size: 18px;
  }
  .flscica, .s3a {
    font-size: 16px;
  }
  .tjl {
    width: 84%;
  }
  .tagline {
    width: 79%;
  }
  .s3a {
    margin: 9px 0;
  }
}

@media (max-width: 920px) {
  .tjl {
    width: 82%;
  }
  .tagline {
    width: 75%;
  }
  .hfsiTp {
    display: none;
  }
}



@media (max-width: 900px) {
  .maxWidth {
    width: 96%;
  }
  .s3a {
    display: none;
  }
  .s3omc {
    margin: 30px 0;
  }
}

@media (max-width: 800px) {
  .tjl {
    width: 80%;
  }
  .tagline {
    width: 71%;
  }
  .s3lc {
    padding-right: 1%;
  }
  .flscica, .s3a {
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .hfsiTh {
    font-size: 17px;
    margin: 0;
  }
  .hfit {
    font-size: 21px;
    margin-bottom: 0;
  }
  .flscich {
    font-size: 24px;
  }
  .flscicp {
    font-size: 16px;
  }
  .flscica {
    font-size: 14px;
  }
  .s3bh {
    font-size: 24px;
    margin-top: 9px;
    margin-bottom: 6px;
  }
  .s3np {
    font-size: 16px;
  }
  .tag, .tagtext {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .maxWidth {
    width: 98%;
  }

  .s3bh {
    font-size: 22px;
  }

  .s3np {
    margin-bottom: 0;
  }

}

@media (max-width: 620px) {
  .maxWidth {
    width: 100%;
  }

  .homd {
    display: block;
    padding: 0;
    margin: 0;
  }

  .hid {
    width: 100%;
    text-align:center;
    margin: 0;
  }

  .hid2 {
    display: block;
    overflow: hidden;
    margin: 0;
  }

  .hfit, .hfsiTh, .flscich, .s3bh {
    text-align: center;
    font-size: 25px;
    margin-top: 21px;
    margin-bottom: 4px;
  }

  .hfsiTp, .flscicp, .s3np {
    display: block;
    font-size: 16px;
  }

  .hfiad, .flscica, .s3a {
    display: inline-block;
    margin-bottom: 0px;
  }

  .flscica {
    margin-top: 9px;
  }
  
  .hfsi {
    overflow: hidden;
  }

  .hfsiiI {
    width: 100%;
  }

  .hfsiiT {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .hfsiTh {
    text-align: center;
  }

  .s3omc {
    margin: 0;
  }

  .tagdc {
    display: none;
  }

  .flsc {
    margin: 0;
    text-align: center;
  }

  .flscic, .tagdc, .flscich, .flscicp, .flscica {
    width: 100%;
  }

  .flscicp {
    margin-bottom: 0;
  }

  .s3lc {
    width: 100%;
    padding: 0;
    display: table-footer-group!important;
    float: none;
    text-align: center;
  }

  .s32c {
    width: 100%;
    display: table-header-group!important;
    float: none;
  }

  .hfsi {
    margin: 0;
  }

  .tagC {
    display: none;
  }

  .hid , .hid2, .flsc, .s3omc, .hfsi {
    margin-bottom: 30px;
  }

  .hfit, .hfsiTh, .flscich, .s3bh {
    max-width: 84%;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .hfiad, .flscica, .s3a {
    max-width: 84%;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .hfsiTp, .flscicp, .s3np {
    max-width: 84%;
    margin-left: auto!important;
    margin-right: auto!important;
  }


}

@media (max-width: 500px) {
  .hfit, .hfsiTh, .flscich, .s3bh {
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 0px;
  }

  .hfiad, .flscica, .s3a {
    font-size: 13px;
  }

  .hfsiTp, .flscicp, .s3np {
    font-size: 13px;
  }

  .hid , .hid2, .flsc, .s3omc, .hfsi {
    margin-bottom: 24px;
  }

}





